@import url("./bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
.carousel-inner{
  min-height:500px;
}
body {
  overflow-x: hidden;
  position: relative; }

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #6a6a6a;
  font-size: 14px;
}

a {
  text-decoration: none;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #2f2f2f;
  text-decoration: underline; }
  a:hover {
    color: #2f2f2f;
    text-decoration: none; }
  a.more {
    font-weight: 600; }

.custom-navbar {
  background: #3b5d50 !important;
  padding-top: 20px;
  padding-bottom: 20px; }
  .custom-navbar .navbar-brand {
    font-size: 32px;
    font-weight: 600; }
  .custom-navbar .navbar-toggler {
    border-color: transparent; }
    .custom-navbar .navbar-toggler:active, .custom-navbar .navbar-toggler:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: none; }
  @media (min-width: 992px) {
    .custom-navbar .custom-navbar-nav li {
      margin-left: 15px;
      margin-right: 15px; } }
  .custom-navbar a {
    font-weight: 500;
    color: #ffffff !important;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    position: relative; 
    text-decoration: none;
  }
  .custom-navbar .custom-navbar-cta {
    margin-left: 0 !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    @media (min-width: 768px) {
      .custom-navbar .custom-navbar-cta {
        margin-left: 40px !important; } }
    .custom-navbar .custom-navbar-cta li {
      margin-left: 0px;
      margin-right: 0px; }
      .custom-navbar .custom-navbar-cta li:first-child {
        margin-right: 20px; }

.hero {
  background: #3b5d50;
  padding: calc(4rem - 30px) 0 0rem 0; 
}

.hero h1 {
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 30px; 
}

.product-section {
  padding: 7rem 0; 
}

.product-section .product-item {
    text-align: center;
    text-decoration: none;
    display: block;
    position: relative;
    padding-bottom: 50px;
    cursor: pointer;
}

.product-section .product-item .product-thumbnail{
      border-radius: 10px;
      margin-bottom: 30px;
      position: relative;
      top: 0;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; 
}

.product-section .product-item h3 {
      font-weight: 600;
      font-size: 16px; 
}

.product-section .product-item strong {
      font-weight: 800 !important;
      font-size: 18px !important;
}

.product-section .product-item h3, .product-section .product-item strong {
      color: #2f2f2f;
      text-decoration: none; 
}

.product-section .product-item .icon-cross {
      position: absolute;
      width: 35px;
      height: 35px;
      display: inline-block;
      background: #2f2f2f;
      bottom: 15px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      margin-bottom: -17.5px;
      border-radius: 50%;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; 
}

.product-section .product-item .icon-cross img {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); 
}

.product-section .product-item:before {
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      content: "";
      background: #dce5e4;
      height: 0%;
      z-index: -1;
      border-radius: 10px;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; 
}

.product-section .product-item:hover .product-thumbnail {
      top: -25px; 
}

.product-section .product-item:hover .icon-cross {
      bottom: 0;
      opacity: 1;
      visibility: visible; 
}

.product-section .product-item:hover:before {
      height: 70%; 
}

.footer-section {
  padding: 80px 0;
  background: #ffffff; }
  .footer-section .relative {
    position: relative; }
  .footer-section a {
    text-decoration: none;
    color: #2f2f2f;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .footer-section a:hover {
      color: rgba(47, 47, 47, 0.5); }
  
  .footer-section .footer-logo-wrap .footer-logo {
    font-size: 32px;
    font-weight: 500;
    text-decoration: none;
    color: #3b5d50; }
  .footer-section .custom-social li {
    margin: 2px;
    display: inline-block; }
    .footer-section .custom-social li a {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      display: inline-block;
      background: #dce5e4;
      color: #3b5d50;
      border-radius: 50%; }
      .footer-section .custom-social li a:hover {
        background: #3b5d50;
        color: #ffffff; }
  .footer-section .border-top {
    border-color: #dce5e4; }
    .footer-section .border-top.copyright {
      font-size: 14px !important; }

.text-primary {
  color: #3b5d50 !important; }

  .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    background: #007BFF;
    transition: left 0.3s ease, width 0.3s ease;
}
  

.hb-tabs {
  background-color: transparent;
  box-shadow: none;
  max-width: var(--width-tabs-small);
}

.hb-tabs__nav {
  border-radius: 9999px;
  border-bottom: 0;
  padding: 0.5rem;
  margin: 0 0 0.5rem 0;
  background: linear-gradient(
      304deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.14) 50%
    ),
    rgba(255, 255, 255, 0.04) 100%;
    box-shadow: 0px 0px 15px 0px rgba(59, 93, 80, 1);
}

.hb-tabs__nav .hb-tabs__nav-list-link {
  padding: 0.75rem 1.5rem;
  color: #fff;
  font-weight: 300;
}

.hb-tabs__nav .hb-tabs__nav-list-item {
  flex-grow: 1;
  letter-spacing: 0.5px;
}

.hb-tabs__nav .hb-tabs__nav-list-item [aria-selected="true"] {
  border-radius: 9999px;
  color: #6713d2;
  font-weight: 500;
}

.hb-tabs__panel {
  padding: 2rem 3rem;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.tab-group {
  padding: 5rem 0;
  overflow-x: hidden;
  min-height: 100svh;
  display: flex;
  align-items: center;
}

.hb-tabs {
  --shadow-elevation-high: 0.2px 0.9px 0.9px hsl(var(--shadow-color) / 0.43),
    0.8px 3.8px 3.9px -0.5px hsl(var(--shadow-color) / 0.41),
    1.5px 7.3px 7.5px -0.9px hsl(var(--shadow-color) / 0.38),
    2.6px 12.9px 13.3px -1.4px hsl(var(--shadow-color) / 0.36),
    4.5px 22px 22.7px -1.9px hsl(var(--shadow-color) / 0.33),
    7.3px 36px 37.2px -2.3px hsl(var(--shadow-color) / 0.31),
    11.5px 56.5px 58.4px -2.8px hsl(var(--shadow-color) / 0.28),
    17.2px 84.9px 87.7px -3.2px hsl(var(--shadow-color) / 0.26);
  width: 85%;
  margin: 2rem auto;
  box-shadow: var(--shadow-elevation-high);
}

.hb-tabs__nav {
  display: flex;
  justify-content: space-between;
  gap: 0;
  margin: 0;
  padding: 0;
  background: #3b5d50;
}

.hb-tabs__nav-list-item {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
  text-align: center;
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.hb-tabs__nav [aria-selected="true"] {
  position: relative;
}

.hb-tabs__nav [aria-selected="true"] {
  color: #000;
  font-weight: 700;
  background-color: #fff;
}

.hb-tabs__panel {
  padding: 3rem 3rem;
  display: block;
}

.hb-tabs__panel[aria-hidden="true"] {
  display: none;
}

.hb-tabs__panel p {
  color: var(--tab-panel-c);
}

.custom-button{
  background: #f9bf29!important;
  color: white!important;
  border: none;
  font-size: 0.8em;
}

.ReactModal__Content{
  height: fit-content;
  max-height: 90vh;
}

.close-modal-button{
  position: absolute;
  right: 15px;
}

.cursor-pointer{
  cursor: pointer;
}

.container{
  margin: auto!important;
  max-width: 1500px!important;
}

.border-radius{
  border-radius: 10px;
}

.color-secondary{
  color: #f9bf29;
}

.details_section_title {
  font-size: 2em;
  line-height: 1.214em;
  margin: 0 0 0.9em;
  padding-bottom: 0.9em;
  border-bottom: 1px solid #D3E5EE;
  font-weight: bold;
  color: #3b5d50;
}

.like-section{
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  right: 30px;
  top: 15px;
  z-index: 10;
}
.car-type {
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 1em !important;
  display: inline-block;
  background-color: #3b5d50a8;
  border-radius: 100px;
  padding: 10px 20px;
  margin-bottom: 15px;
}

.nav-item .nav-link{
  width: 100%;
}

.nav-item{
  width: 50%;
}

.dots-light{
  position: absolute;
  left: 75% !important;
  top: 0 !important;
}

.hb-tabs__nav-list-item.active::before{ 
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0.5px;
  left: 0;
  background: white;
}

.hero-img-wrap img {
  left: 50% !important;
  top: 40% !important;
  transform: translateX(-50%) !important;
}

#auth-tabs{
  flex-direction: row;
}